<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{i18n_title}}</title>
</head>
<body>
    {{{not_localized}}}
    <h2>{{{i18n_rows}}}</h2>
    {{#rows}}
    <div>{{description}}</div>
    {{/rows}}

    <div>{{my_group.label1}}</div>
</body>
</html>